/* You can add global styles to this file, and also import other style files */
body {
    height: 1000px;
}

.my-header {
    height: 80px;
    transition: all 1s ease-out;
}
.page-scroll-header .my-header {
    background-color: #ccc !important;
    height: 60px;
    opacity: 0.9;
}
